#%RAML 0.8
---

title: Music
baseUri: http://api.e-musicmobile.com/{version}
version: v1
/songs:
    description: Collection of avaiable songs in Jukebox
    get:
        description: Get a list of songs based on the song title.
        queryParameters:
            songTitle:
                description: "The title of the song to search"
                required: true
                minLength: 3
                type: string
                example: "Get L"
        responses:
            200:
                body:
                    application/json:
                        example: |
                            "songs": [
                                {
                                "songId" : "55555",
                                "songTitle" : "Get Lucky"
                                },
                                {
                                "songId" : "55554",
                                "songTitle" : "Loose yourself to dance"
                                },
                                {
                                "songId" : "55556",
                                "songTitle" : "Gio sorgio by Moroder"
                                }
                            ]
    /{songId}:
        description: Song entity
        get:
            description: Get the song with 'songId = {songId}'
            responses:
                200:
                    body:
                        application/json:
                            example: |
                                {
                                  "songId": "550e8400-e29b-41d4-a716-446655440000",
                                  "songTitle": "Get Lucky",
                                  "duration": "6:07",
                                  "artist": {
                                    "artistId": "110e8300-e32b-41d4-a716-664400445500"
                                    "artistName": "Daft Punk",
                                    "imageURL": "http://travelhymns.com/wp-content/uploads/2013/06/random-access-memories1.jpg"
                                  },
                                  "album": {
                                    "albumId": "183100e3-0e2b-4404-a716-66104d440550",
                                    "albumName": "Random Access Memories",
                                    "imageURL": "http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg"
                                  }
                                }
                404:
                    body:
                        application/json:
                            example: |
                                {"message" : "Song not found"}
    /file-content:
        description: The file to be reproduced by the client
        get:
            description: Get the file content
            responses:
                200:
                    body:
                        binary/octet-stream:
                            example:
                                !include heybulldong.mp3
        post:
            description: |
                Use the "binary/octet-stream" content type to specify the content from any consumer (excepting web-browsers).
                Use the "multipart-form/data" content type to upload a file which content will become the file-content
            body:
                binary/octet-stream:
                multipart-form/data:
                    formParameters:
                        file:
                            description: The file to be uploaded
                            required: true
                            type: file


/artists:
    get:
    post:
        /{artistId}


